<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <meta charset="UTF-8">
  <title>Edit Book</title>
</head>
<body>
  <div class="container-fluid">
  <h1>Edit books</h1>
  <form action="/authors/books/<%= author_id %>/<%= book.id %>?_method=PUT" method="POST">
    <label for="name">Name: </label>
    <input type="text" name="book_name" value="<%= book.book_name %>">
    <input type="submit" value="Update book">
  </form>
  </div>
</body>
</html>

