<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
  <meta charset="UTF-8">
  <title>Authors</title>
</head>
<body>
  <div class="container-fluid">
  <h1> See all Books!</h1>
   <table class="table">   
    <thead>
      <tr>
        <th>ID</th>
        <th>Author Name</th>
        <th>Book ID</th>
        <th>Book Name</th>
      </tr>
    </thead>
    <tbody> 
      <tr> 
       <% books.forEach(function(book) { %>
         <td><%= book.author_id %> </td>
         <td><%= book.name %> </td>
          <td><%= book.id %> </td>
          <td><%= book.book_name %> </td>
        </tr>
      <% })%>
      </tbody>
    </table>
    <form action="/authors" method="GET">
      <input type="submit" value="Back to Author">
    </form>
  </div>
</body>
</html>