<h1> Create a new author</h1>

<!-- <form action="/authors" method="POST">
	<label for="name">Name:</label>
	<input type="text" name="name" id="name">
	<input type="submit" value="Create Author">
</form> -->

<form action="/books" method="POST">
	<label for="name">Name:</label>
	<input type="text" name="name" id="name">
	<label for="name">Author_ID:</label>
	<input type="text" name="author_id" id="author_id">
	<input type="submit" value="Create Book">
</form>