<h1> Edit an author</h1>
<h4>Author id: <%= author.id%>  Author Name: <%= author.name%></h4>

<form action="/authors/<%= author.id %>?_method=PUT" method="POST">
	<label for="name">Name:</label>
	<input type="text" name="name" id="name" value="<%= author.name %>">
	<input type="submit" value="Edit Author">
</form>